<!-- ------------------Navigation Menu----------------- -->
<app-menu></app-menu>

<!-- --------------------Payment----------------------- -->
<div class="paymentSection">
  <div class="payments">
      <div class="paymentBox">
          <h2> Card Info </h2>

          <div class="cardInfo">
              <input type="tel" maxlength="16" placeholder="1234 5678 9012 3456" required>
              <input type="month" placeholder="MM/YYYY" required>
              <input type="tel" placeholder="CVV" maxlength="3" required>
          </div>
          <div class="paymentButton-two-columns">
              <div class="button">
                  <button routerLink="../" id="proceedPayment" class="btn"><i
                          class="fa-solid fa-arrow-left"></i>
                      Back</button>
              </div>

              <div class="button">
                  <button type="submit" (click)="paymentModal()" id="payNowBtn" class="btn"> Pay {{paymentAmount|currency:'INR'}} </button>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Payment Success Popup  -->

<dialog class="paymentModal">
  <div class="successMessage">
      <div class="modalBox">
          <i class="fa-solid fa-circle-check fa-4x" style="color: green;"></i>
          <h2>Payment Successful</h2>
          <div class="button">
              <button id="donePayment" class="btn" routerLink="/cart/myOrders"> Okay </button>
          </div>
      </div>
  </div>
</dialog>