<div class="grid grid-two-columns">
    <app-navbar></app-navbar>

    <div class="container">
        <section>
            <div id="ordersDashboard">
                <h2>Orders</h2>
                <table class="userTable">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>User Name</th>
                            <th>User Address</th>
                            <th>Order Status</th>
                            <th>Order Quantity</th>
                        </tr>
                    </thead>
                    <tbody id="orderDatas">
                        <tr>
                            <td> 6010 </td>
                            <td>KIRAN</td>
                            <td>5, RKV Road, Erode - 638001</td>
                            <td> Processing </td>
                            <td> 1 </td>
                        </tr>
                        <tr>
                            <td> 2506 </td>
                            <td>KIRAN</td>
                            <td>5, RKV Road, Erode - 638001</td>
                            <td> Processing </td>
                            <td> 1 </td>
                        </tr>
                        <tr>
                            <td> 2804 </td>
                            <td>KIRAN</td>
                            <td>5, RKV Road, Erode - 638001</td>
                            <td> Processing </td>
                            <td> 1 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>