<div class="grid Data-grid-two-columns">
  <app-navbar></app-navbar>

  <div class="container">
    <section class="categoryDiv">

      <div>
        <h2>Product Details</h2>

        <div class="dashboardOverview">

          <div class="grid dashboardHistory">
            <div class="totalProducts">
              <p>Category</p>
              <p></p>
            </div>
            <div class="totalUsers">
              <p>Add category</p>
              <p></p>
            </div>
          </div>

        </div>

        <table class="userTable">
          <thead>
            <tr>
              <th>Category ID</th>
              <th>Category Type</th>
              <th>Category Class</th>
              <th>Category Unique Value</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>

          <tbody id="productDatas">
            <ng-container *ngFor="let category of categoryDisplay">
              <tr *ngFor="let cat of category.category; index as i">
                <td>{{ category.id }}</td>
                <td>{{category.categoryType}}</td>
                <td>{{cat}}</td>
                <td>{{category.categoryUniqueValue[i]}}</td>
                <td> <i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash"></i> </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>

<!-- <section>
  <h2 class="common-heading"> Add Category </h2>

  <div class="container grid-two-columns">
    <app-navbar></app-navbar>

    <div class="productSection">
      <form [formGroup]="categoryData">
        <div class="grid-products">
          <div class="form-fields">
            <label for="categoryType"> Category Type </label>
            <input type="text" name="categoryType" #stockData formControlName="categoryType">
          </div>
          <div class="form-fields">
            <label for="category"> Categories </label>
            <input type="text" name="category" #stockData formControlName="category">
          </div>
          <div class="form-fields">
            <label for="categoryClass"> Category Class </label>
            <input type="text" name="categoryClass" #stockData formControlName="categoryClass">
          </div>
          <div class="form-fields">
            <label for="categoryUniqueValue"> Category Unique Value </label>
            <input type="text" name="categoryUniqueValue" #stockData formControlName="categoryUniqueValue">
          </div>
        </div>
        <div class="formBtn">
          <button class="btn" routerLink="/admin/manageProducts">Back</button>
          <button class="btn" (click)="addProduct(categoryData.value)"> Add Category </button>
          <button class="btn">Reset</button>
        </div>
      </form>
      <div id="addProductMessage">
        <p> {{this.categoryStatusMessage}} </p>
      </div>
    </div>
  </div>
</section> -->