.grid {
    display: grid;
}

.Data-grid-two-columns {
    grid-template-columns: 10% 80%;
}

.container {
    max-width: 140rem;
    padding: 0 4rem;
}

.userTable {
    border-collapse: collapse;
    margin: 3rem 0;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 1rem 1rem 0 0;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.userTable thead {
    text-align: left;
    background-color: var(--btns-background);
    color: var(--white);
    font-weight: 900;
}

.userTable th,
.userTable td {
    padding: 1rem 1.2rem;
}

.userTable tbody tr {
    border-bottom: 1px solid var(--btns-background);
    cursor: pointer;
}

.userTable tbody tr:nth-of-type(even) {
    background: rgb(238, 238, 241);
}

.userTable tbody tr:hover{
    background-color: var(--btns-background);
    color: var(--white);
}

.userTable tbody tr:last-of-type {
    border-bottom: 0.3rem solid var(--btns-background);
}

.productDatas .fa-solid, .fas{
    padding-right: 5rem;
}

:is(.totalProducts, .totalUsers) {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--btns-background);
    color: var(--white);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;
    cursor: pointer;
}

:is(.totalProducts, .totalUsers) p {
    font-size: 1.4rem;
}

.dashboardHistory {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CATEGORY DATA */
/* 
section {
    padding: 2rem 0;
}

section h2{
    margin-left: 10rem;
}

.container {
    max-width: 140rem;
}

.grid-two-columns {
    display: grid;
    grid-template-columns: 10% 85%;
}

.valid{
    color: rgb(0, 128, 0);
}

.invalid{
    color: rgb(255, 0, 0);
}

.productSection {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    margin: 1rem;
    position: relative;
}

.form-fields {
    padding: 1rem 0.6rem;
    display: flex;
    flex-direction: column;
}

.form-fields label {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.form-fields input{
    font-size: 1.6rem;
    padding: 0.2rem;
}

.formBtn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
} */
