
  <!-- <button class="btn btn-outline-primary m-3" routerLink="" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" >Home</button>
  <button class="btn btn-outline-primary m-3" routerLink="products" [routerLinkActive]="'active'">Products</button>
  <button class="btn btn-outline-primary m-3" routerLink="contactUs" [routerLinkActive]="'active'">Contact Us</button>
  <button class="btn btn-outline-primary m-3" routerLink="cart" [routerLinkActive]="'active'">Cart</button> -->

    <!-- ----------------------------------NAVIGATION MENU BAR----------------------------------- -->

<router-outlet></router-outlet>



