<!-- ------------------Navigation Menu----------------- -->
<app-menu></app-menu>

<!-- --------------------------Order Section----------------------------- -->
<div class="orders">
  <h2 class="common-heading">My Orders</h2>
</div>
<div id="orderPage">
  <div class="container orderDataBox">
    <div class="orderBox">
      <ng-container *ngFor="let orderData of orderData">
        <div class="orderStatusData">
          <p id="OrderId"> <b> Order Id: </b> {{orderData.id}} </p>
          <p id="OrderStatus"> <b> Order: </b> Processing</p>
          <button class="btn" id="cancelOrder">Cancel Order</button>
        </div>
        <hr>
        <div class="orderDescriptionData order-grid order-grid-four-column">
          <div class="productImageData">
            <img src="{{orderData.image}}" alt="">
          </div>
          <div class="productDetails">
            <p id="productName">{{ orderData.productName }}</p>
            <div class="productDetailsData order-grid order-grid-two-column">
              <p id="productQuantity"> <b>Quantity : </b>{{ orderData.quantity }}</p>
              <p id="productPrice"> <b> Price : </b> {{ orderData.originalAmount }} </p>
            </div>
          </div>
          <div class="orderStatus"> <b> Status </b>
            <p>Processing</p>
          </div>
          <div class="deliveryExcepted"> <b> Delivery Excepted by</b> 28 Feb 2022</div>
          <div class="total"> <b> Total </b> {{orderData.originalAmount}}</div>
        </div>
        <hr>
      </ng-container>
        <!-- <div class="orderStatusData">
          <button class="btn" id="cancelOrder">Cancel Order</button>
          <p id="OrderId"> <b> Order Id: </b> {{orderData.id}} </p>
          <p id="payment"> <b>Cash On Delivery</b> </p>
          <p id="OrderStatus"> <b> Sub Total: </b> {{orderData.originalAmount|currency:'INR'}} </p>
        </div> -->
        <!-- <hr> -->
    </div>
  </div>
</div>