
/* My Orders Section */
.orderMenu {
    position: relative;
  }
  
  .order {
    margin-right: 0.8rem;
  }
  
  #orderPage {
    background-color: rgb(255, 253, 253);
  }
  
  .orderDataBox {
    display: grid;
    place-items: center;
  }
  
  .orderBox {
    width: 80%;
    height: max-content;
    padding: 3rem;
    margin-top: 5rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border: 0.1rem solid var(--btns-background);
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
  
  .orderStatusData {
    height: 5rem;
    display: flex;
    justify-items: center;
    justify-content: space-around;
  }
  
  #OrderId,
  #OrderStatus,
  #payment {
    margin-top: 1.5rem;
  }
  
  #cancelOrder {
    height: 3rem;
    width: max-content;
  }
  
  .order-grid {
    display: grid;
  }
  
  .order-grid-two-column {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .order-grid-four-column {
    grid-template-columns: 15% 25% 15% 25% 10%;
  }
  
  .productImageData img {
    width: 7rem;
    height: 7rem;
    padding: 1rem;
  }
  
  #productName {
    color: var(--btns-background);
    font-weight: 900;
  }
  
  .productDetailsData {
    display: flex;
    justify-content: space-between;
  }
  
  .productDetails p {
    margin: 1rem 0;
  }
  
  .orderStatus,
  .deliveryExcepted,
  .total {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 4rem;
  }
  
  .orders {
    display: flex;
    justify-content: flex-start;
  }
  
  .orders h2 {
    margin: 8rem 8rem 0 8rem;
  }
  
  