
/* ----------------------------------CONTACT US----------------------------- */
.contact-section {
    width: 100%;
    padding: 2rem;
    padding-top: 8rem;
  }
  
  .contact-section h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .contact-section .map {
    margin-bottom: 4rem;
  }
  
  .contact-section form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-section form input,
  .contact-section form textarea {
    padding: 1rem 3rem;
    border-radius: 1rem;
    border: 2px solid rgb(47, 81, 203);
    margin: 1rem;
    width: 100%;
  }
  
  .contact-section .submitbtn {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .contact-section button {
    padding: 1rem 2rem;
    border-radius: 0.8rem;
  }
  