<!-- ---------------------------FOOTER SECTION------------------------ -->

<footer>
  <div class="container footerData">
    <div class="grid grid-five-columns">
      <div class="about">
        <h3>About</h3>
        <p> RK MART is a self-service shop offering a wide range of variety of products in various
          categories such as Vegetables and household, fruits, Beverges. A change you can see.</p>
      </div>
      <div class="categories">
        <h3>Categories</h3>
        <ul>
          <li> <a routerLink="/products/grocery"> <i class="fa-solid fa-arrow-right"></i> Beverages </a> </li>
          <li> <a routerLink="/products/beverages"> <i class="fa-solid fa-arrow-right"></i> Vegetables & Fruits </a>
          </li>
          <li> <a routerLink="/products/household"> <i class="fa-solid fa-arrow-right"></i> Household Items
            </a></li>
        </ul>
      </div>
      <div class="quick-links">
        <h3>Quick Links</h3>
        <ul>
          <li> <a routerLink=""> <i class="fa-solid fa-arrow-right"></i> Home </a></li>
          <li> <a routerLink="/products"> <i class="fa-solid fa-arrow-right"></i> Products </a>
          <li> <a routerLink="/contactUs"> <i class="fa-solid fa-arrow-right"></i> Contact Us </a>
            <!-- <li> <a routerLink="#"> <i class="fa-solid fa-arrow-right"></i> About Us </a> -->
        </ul>
      </div>
      <div class="contact">
        <h3>Reach Out Us</h3>
        <ul>
          <li> <a href="#"> <i class="fa-brands fa-square-facebook"></i>Facebook </a></li>
          <li> <a href="#"> <i class="fa-brands fa-square-twitter"></i>Twitter </a>
          <li> <a href="#"> <i class="fa-brands fa-instagram"></i>Instagram </a>
          <li> <a href="#"> <i class="fa-brands fa-linkedin"></i>Linkedin </a>
        </ul>
      </div>
      <div class="Address">
        <h3>Help</h3>
        <ul>
          <li> <a href="mailto:cecskiran23@gmail.com"> <i class="fa-solid fa-paper-plane"></i>Mail Us </a>
          <li> <a href="tel:7659847888"> <i class="fa-solid fa-arrow-right"></i> Telephone </a>
            <hr>
          <li> <a (click)="redirectToMap()"> <i class="fa-solid fa-location-dot"></i> Location </a>
        </ul>
      </div>
    </div>
  </div>
</footer>